<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoHPMA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoHPMA.Properties.Settings>
            <setting name="AnswerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedGatherRefreshMode" serializeAs="String">
                <value>Badge</value>
            </setting>
            <setting name="RealTimeScreenshotEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogWindowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugLogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureInterval" serializeAs="String">
                <value>500</value>
            </setting>
        </AutoHPMA.Properties.Settings>
    </userSettings>
</configuration>